@{
    ViewData["Title"] = "О нас";
}

<div class="container">
    <h1 class="display-4">О нас</h1>
    <p>CustomApp - это компания, специализирующаяся на печати на футболках, толстовках и сувенирах. Мы предлагаем уникальные дизайны и быструю доставку по всему миру.</p>
    <p>Наша миссия - предоставить нашим клиентам высококачественные продукты по доступным ценам.</p>
</div>
